.container {
    overflow: initial;
    padding-bottom: 20px;
    transform: rotateX(180deg);
}

.container::-webkit-scrollbar {
    height: 10px;
    width: 8px;
    background-color: #ddd;
}

/**  STYLE 11 */
.container::-webkit-scrollbar-track {
    border-radius: 8px;
    background: #ddd;
}

.container::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #999;
}

.container::-webkit-scrollbar-thumb:hover {
    background: #666;
}

.container::-webkit-scrollbar-thumb:active {
    background: #333;
}
